*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.4;
  color: #333;
}

html.wf-active  {
  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
}
