{% extends "base.twig" %}

{% block main %}

<main>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur debitis eveniet illum ipsum iste maiores, nam optio ut veritatis? Architecto at culpa cupiditate ipsum magnam nemo quae repellat repudiandae sunt.</p>
</main>

{% endblock %}